/* PAGE CONTAINER */
.contact-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  background-color: #f5f7f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;

}

/* HERO SECTION */
.contact-hero {
  width: 100vw;
  min-height: 40vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),url(/assets/background-about.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 60px 20px;
}

.contact-hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
  color : white;
  text-shadow: 2px 2px 4px rgba(05,05,05,3.3);
}

.contact-hero p {
  font-size: 18px;
  max-width: 700px;
  line-height: 1.6;
}

/* CONTACT FORM SECTION */
.contact-form-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

.contact-form {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #2e7d32;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  background-color: #2e7d32;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #276b2a;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-hero h1 {
    font-size: 30px;
  }

  .contact-hero p {
    font-size: 16px;
  }
}
